<h2><%= @patient.name %></h2>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <li><%= link_to "#{appointment.doctor.name}", doctor_path(appointment.doctor)%><br><%= "Date #{appointment.readable}" %></li>
  <% end %>
</ul>