<h1><%= @appointment.appointment_datetime.strftime("%B %e, %Y at %k:%M") %></h1>
<li>Doctor's name <%= link_to @appointment.doctor.name , doctor_path(@appointment.doctor) %> </li>
<li>Patient's name <%= link_to @appointment.patient.name , patient_path(@appointment.patient) %> </li>
